{% if grains["osarch"] == "arm64" %}
{% set base_repo = "ports.ubuntu.com/ubuntu-ports/" %}
{% else %}
{% set base_repo = "us.archive.ubuntu.com/ubuntu/" %}
{% endif %}

###### Ubuntu Main Repos
deb http://{{ base_repo }} {{ grains["oscodename"] }} main restricted universe
deb-src http://{{ base_repo }} {{ grains["oscodename"] }} main restricted universe

###### Ubuntu Update Repos
deb http://{{ base_repo }} {{ grains["oscodename"] }}-security main restricted universe
deb http://{{ base_repo }} {{ grains["oscodename"] }}-updates main restricted universe
deb-src http://{{ base_repo }} {{ grains["oscodename"] }}-security main restricted universe
deb-src http://{{ base_repo }} {{ grains["oscodename"] }}-updates main restricted universe
