root=infrastructure-staff@python.org
mailhub={{ smtp.server }}
UseSTARTTLS={% if smtp.starttls %}yes{% else %}no{% endif %}
UseTLS={% if smtp.tls %}yes{% else %}no{% endif %}
AuthUser={{ smtp.user }}
AuthPass={{ smtp.password }}
FromLineOverride=yes
RewriteDomain={{ grains["fqdn"] }}
