#!/bin/bash

MINION_ID="{{ grains['id'] }}"
SENTRY_INGEST_URL="{{ pillar.get('ingest_url', '') }}"
SENTRY_PROJECT_ID="{{ pillar.get('project_id', '') }}"
SENTRY_PROJECT_KEY="{{ pillar.get('project_key', '') }}"

MONITOR_SLUG="salt-highstate-${MINION_ID//./}"

if [ -n "$SENTRY_INGEST_URL" ] && [ -n "$SENTRY_PROJECT_ID" ] && [ -n "$SENTRY_PROJECT_KEY" ]; then
    curl -X POST "https://${SENTRY_INGEST_URL}/api/${SENTRY_PROJECT_ID}/cron/${MONITOR_SLUG}/${SENTRY_PROJECT_KEY}/" \
    --header 'Content-Type: application/json' \
    --data-raw '{
      "monitor_config": {
        "schedule": {
          "type": "crontab",
          "value": "*/15 * * * *"
        },
        "checkin_margin": 5,
        "max_runtime": 30,
        "timezone": "UTC",
      },
      "status": "in_progress"
    }' &> /dev/null

    "$@"
    COMMAND_EXIT=$?

    if [ $COMMAND_EXIT -eq 0 ]; then
        curl "https://${SENTRY_INGEST_URL}/api/${SENTRY_PROJECT_ID}/cron/${MONITOR_SLUG}/${SENTRY_PROJECT_KEY}/?status=ok" &> /dev/null
    else
        curl "https://${SENTRY_INGEST_URL}/api/${SENTRY_PROJECT_ID}/cron/${MONITOR_SLUG}/${SENTRY_PROJECT_KEY}/?status=error" &> /dev/null
    fi

    exit $COMMAND_EXIT
else
    exit 1
fi 