# Notify @JacobCoffee for all opened Issues and Pull Requests
* @JacobCoffee

# Additionally, notify Stan for docs things
.github/workflows/docs-redirects.yml  @StanFromIreland @JacobCoffee
salt/docs/*                           @StanFromIreland @JacobCoffee
tests/docs-redirects/*                @StanFromIreland @JacobCoffee