server {
    listen 9000 ssl;
    server_name pypy-web.psf.io;

    ssl_certificate /etc/ssl/private/pypy-web.psf.io.pem;
    ssl_certificate_key /etc/ssl/private/pypy-web.psf.io.pem;

    include fastly_params;

    error_log /var/log/nginx/pypy-web.error.log;
    access_log /var/log/nginx/pypy-web.access.log;

    root /srv/pypy/pypy.org;
}
