dd_url: https://app.datadoghq.com
api_key: {{ api_key }}

use_dogstatsd: yes
dogstatsd_port: 8125

hostname_fqdn: yes

{% if tags is defined %}
tags:
{%- for tag in tags %}
  - {{ tag }}
{%- endfor -%}
{% endif %}
