upstream pycon {
  server localhost:8000;
}

upstream pycon-slides {
  server localhost:8001;
}

server {
  listen 80;

  server_name {{ grains['fqdn'] }} {{ server_names }};

  if ($scheme = "http") {
    return 301 https://$http_host$request_uri;
  }
}

server {
  listen 443 ssl;

  ssl_certificate /etc/ssl/private/pycon.psf.io.pem;
  ssl_certificate_key /etc/ssl/private/pycon.psf.io.pem;

  error_log /var/log/nginx/pycon.error.log;
  access_log /var/log/nginx/pycon.access.log;

  server_name {{ grains['fqdn'] }} {{ server_names }};

  {% if deployment == 'staging' %}
  add_header X-Robots-Tag "noindex, nofollow";
  {% endif %}

  location /2016/site_media/static {
    alias /srv/pycon/site_media/static;
  }
  location /2016/site_media/media {
    alias /srv/pycon/media;
  }
  location /2015 {
    alias /srv/pycon-archive/2015;
  }
  location /2014 {
    alias /srv/pycon-archive/2014;
  }
  location /2013 {
    alias /srv/pycon-archive/2013;
  }
  location /2012 {
    alias /srv/pycon-archive/2012;
  }
  location /2011 {
    alias /srv/pycon-archive/2011;
  }
  location /2016 {
    client_max_body_size 20M;
    proxy_pass http://pycon;
    proxy_set_header Host $http_host;
    {% if use_basic_auth %}
    auth_basic "PyCon 2016 *Staging* site for development only. See https://us.pycon.org/2016/";
    auth_basic_user_file {{ auth_file }};
    {% endif %}
  }
  rewrite ^/$ /2016/ redirect;
  location /2016/slides {
    client_max_body_size 50M;
    rewrite /2016/slides(.*) /$1 break;
    proxy_pass http://pycon-slides;
    proxy_set_header Host $http_host;
    auth_basic "PyCon Speaker Slide Uploads";
    auth_basic_user_file {{ pycon_slides_auth_file }};
  }
}
