description "pycon celery worker"
start on runlevel [2345]
stop on runlevel [06]

console log
setuid pycon
setgid pycon

chdir /srv/pycon/pycon
env FOO=BAR

respawn
exec /srv/pycon/env/bin/celery -A pycon worker --beat
