<VirtualHost _default_:9000>
    ServerName hg.python.org

    SSLEngine on
    SSLCertificateFile /etc/ssl/private/hg.psf.io.pem
    SSLCertificateKeyFile /etc/ssl/private/hg.psf.io.pem
    SSLCipherSuite {{ pillar["tls"]["ciphers"].get("backend", pillar["tls"]["ciphers"]["default"]) }}
    SSLHonorCipherOrder on
    # SSLProtocol TLSv1.2

    TransferLog /var/log/apache2/hg.access.log
    ErrorLog /var/log/apache2/hg.error.log

    # Mercurial can send long headers for repositories with many heads. See
    # http://barahilia.github.io/blog/computers/2014/10/09/hg-pull-via-http-fails-400.html
    LimitRequestFieldSize 16384

    Alias /committers.txt /srv/hg/web/committers

    # The lookup app is better run with few processes, since it uses a cache.
    WSGIDaemonProcess hglookup user=hg group=hg python-path=/srv/hg/lib/python \
        threads=2 processes=1 maximum-requests=1000 \
        display-name=hglookup
    # The Location hack ensures the lookup app is run within
    # this process group
    <Location /lookup>
        WSGIProcessGroup hglookup
    </Location>

    WSGIScriptAlias /lookup /srv/hg/wsgi/lookup.wsgi

    # We need enough threads/processes for many long-running clones to run in
    # parallel (e.g. for buildbots)
    # NOTE: maximum-requests suspected to corrupt responses, see
    # http://mercurial.selenic.com/bts/issue2595
    WSGIDaemonProcess hgweb user=hg group=hg python-path=/srv/hg/lib/python \
        threads=4 processes=12 inactivity-timeout=300 \
        display-name=hgweb
    WSGIProcessGroup hgweb

    WSGIScriptAlias / /srv/hg/wsgi/python.wsgi

    <Directory /srv/hg/wsgi>
        Order deny,allow
        Allow from all
    </Directory>

    # Static files: logo, CSS, favicon... (wired to .../static/)
    # This is optional but a bit faster than letting Mercurial serve the files
    # NOTE: needs to be changed if hg gets wired to another dir or python
    # version

    Alias /robots.txt /srv/hg/robots.txt
    AliasMatch .*/static/([^/]*) \
        /srv/hg/lib/python/mercurial/templates/static/$1
    <Directory /srv/hg/lib/python/mercurial/templates/static/>
        Allow from all
    </Directory>

    <Location /_server-status>
        SetHandler server-status

        Order deny,allow
        Allow from 127.0.0.1
        Deny from all
    </Location>
</VirtualHost>
