{% set internal = salt["pillar.get"]("psf_internal_network") %}
Listen {{ salt["network.ip_addrs"](cidr=internal)[0] }}:9000
Listen {{ salt["network.ip_addrs"](cidr=internal)[0] }}:9001
Listen {{ salt["network.ip_addrs"](cidr=internal)[0] }}:9002
Listen 127.0.0.1:9000
Listen 127.0.0.1:9001
Listen 127.0.0.1:9002
