{% set psf_internal = salt["pillar.get"]("psf_internal_network") %}

[cache]
STORAGE_DIR    = /srv/carbon/
LOCAL_DATA_DIR = /srv/carbon/whisper/
WHITELISTS_DIR = /srv/carbon/lists/
CONF_DIR       = /etc/carbon/
LOG_DIR        = /var/log/carbon/
PID_DIR        = /var/run/

ENABLE_LOGROTATION = True
USER = _graphite
MAX_CACHE_SIZE = inf
MAX_UPDATES_PER_SECOND = 500
MAX_UPDATES_PER_SECOND_ON_SHUTDOWN = 1000
MAX_CREATES_PER_MINUTE = 50

LINE_RECEIVER_INTERFACE = {{ salt["ip_picker.ip_addrs"](cidr=psf_internal)[0] }}
LINE_RECEIVER_PORT = 2003

PICKLE_RECEIVER_INTERFACE = {{ salt["ip_picker.ip_addrs"](cidr=psf_internal)[0] }}
PICKLE_RECEIVER_PORT = 2004

LOG_LISTENER_CONNECTIONS = True
USE_INSECURE_UNPICKLER = False

CACHE_QUERY_INTERFACE = {{ salt["ip_picker.ip_addrs"](cidr=psf_internal)[0] }}
CACHE_QUERY_PORT = 7002

USE_FLOW_CONTROL = True

LOG_UPDATES = False
LOG_CACHE_HITS = False
LOG_CACHE_QUEUE_SORTS = True

CACHE_WRITE_STRATEGY = sorted

WHISPER_AUTOFLUSH = False

# WHISPER_SPARSE_CREATE = False
WHISPER_FALLOCATE_CREATE = True
# WHISPER_LOCK_WRITES = False
# USE_WHITELIST = False
# CARBON_METRIC_PREFIX = carbon
# CARBON_METRIC_INTERVAL = 60

[relay]
USER = _graphite
LINE_RECEIVER_INTERFACE = {{ salt["ip_picker.ip_addrs"](cidr=psf_internal)[0] }}
LINE_RECEIVER_PORT = 2013
PICKLE_RECEIVER_INTERFACE = {{ salt["ip_picker.ip_addrs"](cidr=psf_internal)[0] }}
PICKLE_RECEIVER_PORT = 2014

LOG_LISTENER_CONNECTIONS = True

#RELAY_METHOD = rules
#RELAY_METHOD = consistent-hashing
#RELAY_METHOD = aggregated-consistent-hashing
RELAY_METHOD = rules

REPLICATION_FACTOR = 1

DESTINATIONS = 127.0.0.1:2004

MAX_DATAPOINTS_PER_MESSAGE = 500
MAX_QUEUE_SIZE = 10000

USE_FLOW_CONTROL = True

# CARBON_METRIC_PREFIX = carbon
# CARBON_METRIC_INTERVAL = 60

[aggregator]
USER = _graphite
LINE_RECEIVER_INTERFACE = {{ salt["ip_picker.ip_addrs"](cidr=psf_internal)[0] }}
LINE_RECEIVER_PORT = 2023

PICKLE_RECEIVER_INTERFACE = {{ salt["ip_picker.ip_addrs"](cidr=psf_internal)[0] }}
PICKLE_RECEIVER_PORT = 2024

LOG_LISTENER_CONNECTIONS = True

FORWARD_ALL = True

DESTINATIONS = 127.0.0.1:2004

REPLICATION_FACTOR = 1

MAX_QUEUE_SIZE = 10000

USE_FLOW_CONTROL = True

MAX_DATAPOINTS_PER_MESSAGE = 500

MAX_AGGREGATION_INTERVALS = 5

# WRITE_BACK_FREQUENCY = 0

# USE_WHITELIST = False

# CARBON_METRIC_PREFIX = carbon
# CARBON_METRIC_INTERVAL = 60
