{% set server = (salt["mine.get"]("roles:monitoring", "minealiases.psf_internal", expr_form="grain").values())|sort|first|first %}

# Graphite server host
host = {{ server }}

# Port to send metrics to
port = 2003

# Socket timeout (seconds)
timeout = 15

# Batch size for metrics
batch = 1
