{% from "consul/jinja.sls" import simple_service %}

{% call(addr, port) simple_service("graphite") %}
# Graphite server host
host = {{ addr }}

# Port to send metrics to
port = {{ port }}

# Socket timeout (seconds)
timeout = 15

# Batch size for metrics
batch = 1
{% endcall %}
