{
  "rootDir": "/srv/aptly",
  "downloadConcurrency": 4,
  "downloadSpeedLimit": 0,
  "architectures": [
    "amd64"
  ],
  "dependencyFollowSuggests": false,
  "dependencyFollowRecommends": false,
  "dependencyFollowAllVariants": false,
  "dependencyFollowSource": false,
  "gpgDisableSign": false,
  "gpgDisableVerify": false,
  "downloadSourcePackages": true,
  "ppaDistributorID": "ubuntu",
  "ppaCodename": "",
  "S3PublishEndpoints": {
    {% for endpoint, config in salt["pillar.get"]("aptly:endpoints").items() %}
    "{{ endpoint }}": {
      {% for key, value in config.items() %}
      "{{ key }}": "{{ value }}"{% if not loop.last %},{% endif %}
      {% endfor %}
    }{% if not loop.last %},{% endif %}
    {% endfor %}
  }
}
