[Unit]
Description=Consul
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/consul agent -config-dir /etc/consul.d -data-dir /var/lib/consul -ui
KillMode=process
User=consul
Group=consul

[Install]
WantedBy=multi-user.target
