[Unit]
Description=consul-template
Requires=network-online.target
After=network-online.target consul.service

[Service]
KillSignal=SIGINT
EnvironmentFile=-/etc/sysconfig/consul-template
Restart=on-failure
ExecStart=/usr/bin/consul-template $OPTIONS -config=/etc/consul-template.d

[Install]
WantedBy=multi-user.target
