{% set duosec = salt["pillar.get"]("duosec", {}) %}

port 1194
proto udp

dev tun

ca   keys/ca.crt
cert keys/server.crt
key  keys/server.key  # This file should be kept secret
dh   keys/dh2048.pem

crl-verify keys/crl.pem

server 10.8.0.0 255.255.255.0

ifconfig-pool-persist ipp.txt

push "route 192.168.5.0 255.255.255.0" # psf-internal
push "route 172.16.57.0 255.255.255.0" # pypi-internal

keepalive 10 120

tls-auth keys/ta.key 0 # This file is secret
tls-cipher TLS-DHE-RSA-WITH-AES-256-GCM-SHA384:TLS-DHE-RSA-WITH-AES-256-CBC-SHA256:TLS-DHE-RSA-WITH-AES-256-CBC-SHA

cipher AES-256-CBC

comp-lzo

user nobody
group nogroup

persist-key
persist-tun

status openvpn-status.log
verb 3

client-config-dir ccd

ccd-exclusive


reneg-sec 0

plugin /opt/duo/duo_openvpn.so {{ duosec.openvpn.ikey }} {{ duosec.openvpn.skey }} {{ duosec.openvpn.host }}
