{% set duosec = salt["pillar.get"]("duosec", {}) %}

{% set psf_internal = salt["pillar.get"]("psf_internal_network") %}
{% set pypi_internal = salt["pillar.get"]("pypi_internal_network") %}

{% set bind = salt["ip_picker.subnet_mask_for_cidr"](cidr=bind) %}
{% set psf_internal = salt["ip_picker.subnet_mask_for_cidr"](cidr=psf_internal) %}
{% set pypi_internal = salt["ip_picker.subnet_mask_for_cidr"](cidr=pypi_internal) %}

port  {{ port }}
proto {{ protocol }}

dev {{ device }}

ca   keys/ca.crt
cert keys/server.crt
key  keys/server.key  # This file should be kept secret
dh   keys/dh.pem

crl-verify keys/crl.pem

server {{ bind.address }} {{ bind.subnet }}

ifconfig-pool-persist ipp.txt

push "route {{ psf_internal.address }} {{ psf_internal.subnet }}" # psf-internal
push "route {{ pypi_internal.address }} {{ pypi_internal.subnet }}" # pypi-internal

keepalive 10 120

tls-auth keys/ta.key 0 # This file is secret
tls-cipher TLS-DHE-RSA-WITH-AES-256-GCM-SHA384:TLS-DHE-RSA-WITH-AES-256-CBC-SHA256:TLS-DHE-RSA-WITH-AES-256-CBC-SHA

cipher AES-256-CBC

comp-lzo

user nobody
group nogroup

persist-key
persist-tun

status /var/log/openvpn/{{ instance }}-status.log
verb 3

client-config-dir ccd

ccd-exclusive


reneg-sec 0

plugin /opt/duo/duo_openvpn.so {{ duosec.openvpn.ikey }} {{ duosec.openvpn.skey }} {{ duosec.openvpn.host }}
