{% set haproxy = salt["pillar.get"]("haproxy", {}) %}
{% set psf_internal = salt["pillar.get"]("psf_internal_network") %}

global
    log /dev/log    local0
    log /dev/log    local1 notice

    chroot /var/lib/haproxy

    stats socket /run/haproxy/admin.sock mode 660 level admin
    stats timeout 30s

    user haproxy
    group haproxy

    daemon

    maxconn 4096

    ca-base /etc/ssl/certs
    crt-base /etc/ssl/private

    ssl-default-bind-ciphers ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:ECDH+3DES:DH+3DES:RSA+AESGCM:RSA+AES:RSA+3DES:!aNULL:!MD5:!DSS
    ssl-server-verify required

    tune.ssl.default-dh-param 2048

defaults
    log     global

    mode    http

    retries 3

    option  dontlognull
    option  httpchk
    option  httplog
    option  http-server-close
    option  forwardfor
    option  splice-auto
    option  redispatch

    balance roundrobin

    timeout connect 5000
    timeout client  50000
    timeout server  50000

    monitor-uri /_haproxy_status

    errorfile 400 /etc/haproxy/errors/400.http
    errorfile 403 /etc/haproxy/errors/403.http
    errorfile 408 /etc/haproxy/errors/408.http
    errorfile 500 /etc/haproxy/errors/500.http
    errorfile 502 /etc/haproxy/errors/502.http
    errorfile 503 /etc/haproxy/errors/503.http
    errorfile 504 /etc/haproxy/errors/504.http


frontend main
    bind :20000
    bind :20001 ssl crt /etc/ssl/private/ev.python.org.pem
    bind :20002 ssl crt /etc/ssl/private/hg.python.org.pem
    bind :20003 ssl crt /etc/ssl/private/star.python.org.pem

    # Redirect all HTTP traffic to HTTPS
    redirect scheme https if !{ ssl_fc }

    # At this point, we only support HTTPS traffic on the load balancer, so
    # we'll say that this was forwarded with a protocol of https.
    reqadd X-Forwarded-Proto:\ https

    # Setup our ACLs
    {% for domain, config in haproxy.domains.items() %}
    acl host_{{ config.role }}_{{ config.port }} hdr(host) -i {{ domain }}
    {% endfor %}

    # Dispatch to a backend based on our domain ACLs
    {% for domain, config in haproxy.domains.items() %}
    use_backend {{ config.role }}_{{ config.port }} if host_{{ config.role }}_{{ config.port }}
    {% endfor %}


{% for domain, config in haproxy.domains.items() %}
backend {{ config.role }}_{{ config.port }}
    {% if config.external_backend is defined %}

    ca-file ca-certificates.crt
    server {{ config.role }} {{ config.external_backend }} ssl force-tlsv12 verify required verifyhost {{ config.external_backend }}

    {% else %}

    {% for server, addrs in salt["mine.get"]("roles:" + config.role, "minealiases.psf_internal", expr_form="grain").items() %}
    {% for addr in addrs %}
    server {{ server }} {{ addr }}:{{ config.port }} check
    {% endfor %}
    {% endfor %}

    {% endif %}
{% endfor %}


{% for name, config in haproxy.listens.items() %}
listen {{ name }}
    bind {{ config.bind }}

    mode {{ config.mode }}

    {% if config.mode == "tcp" %}
    option tcplog
    option tcp-check
    {% endif %}

    {% for server, addrs in salt["mine.get"]("roles:" + config.role, "minealiases.psf_internal", expr_form="grain").items() %}
    {% for addr in addrs %}
    server {{ server }} {{ addr }}:{{ config.port }} check
    {% endfor %}
    {% endfor %}

{% endfor %}


listen stats
    bind 127.0.0.1:4646
    bind {{ salt["ip_picker.ip_addrs"](cidr=psf_internal)|first }}:4646

    mode            http
    log             global

    stats enable
    stats hide-version
    stats refresh 30s
    stats show-node
    stats uri  /haproxy?stats
