upstream backend {
    server 127.0.0.1:19001 max_fails=3 fail_timeout=15s;
}

server {
    listen 127.0.0.1:19000 http2;

    port_in_redirect off;
    server_name_in_redirect off;

    proxy_buffering off;

     # nginx default is 1m which is too small for us.
    client_max_body_size 20m;

    location / {
         proxy_pass http://backend;
         proxy_http_version 1.1;
         proxy_ignore_headers X-Accel-Expires Expires Cache-Control Set-Cookie X-Accel-Redirect X-Accel-Limit-Rate X-Accel-Buffering X-Accel-Charset;
         proxy_pass_header Server;
         proxy_set_header Host $host;
    }
}
