[
  {
    "nickname": "PSFSlack",
    "server": "irc.freenode.net",
    "token": "{{ slack_token }}",
    "autoSendCommands": [
      ["PRIVMSG", "NickServ", "IDENTIFY {{ irc_password }}"]
    ],
    "channelMapping": {
      "#infrastructure": "#python-infra",
      "psf-board": "#psf-board",
      "psf-board-private": "#psf-board-private",
      "pythondotorg" : "#pydotorg"
    },
    "commandCharacters": ["!", "."]
  }
]
