{% set server = salt["mine.get"]("roles:postgresql-primary", "minealiases.psf_internal", expr_form="grain")[0] %}
{% set pgbouncer = salt["pillar.get"]("pgbouncer") %}
{% set database_users = salt["pillar.get"]("postgresql-users") %}

[databases]

{% for database, config in pgbouncer.databases.items() %}
{{ database }} = host={{ server }} dbname={{ config.dbname }} user={{ config.user }} password={{ database_users[config.user] }}
{% endfor %}


[pgbouncer]

logfile = /var/log/postgresql/pgbouncer.log
pidfile = /var/run/postgresql/pgbouncer.pid

listen_addr = 127.0.0.1
listen_port = 5432

;unix_socket_dir = /tmp
;unix_socket_mode = 0777
;unix_socket_group =
unix_socket_dir = /var/run/postgresql

auth_type = plain
auth_file = /etc/pgbouncer/userlist.txt

pool_mode = {{ pgbouncer.get("pool_mode", "session") }}

{% if pgbouncer.get("pool_mode") != "transaction" %}
server_reset_query = {{ pgbouncer.get("server_reset_query", "DISCARD ALL") }}
{% endif %}

max_client_conn = {{ pgbouncer.get("max_client_conn", 100) }}
default_pool_size = {{ pgbouncer.get("default_pool_size", 20) }}


server_lifetime = {{ pgbouncer.get("server_lifetime", 3600) }}
server_idle_timeout = {{ pgbouncer.get("", 600) }}
