server {
    listen 9000 ssl;
    server_name bootstrap.pypa.io;

    ssl_certificate /etc/ssl/private/bootstrap.pypa.psf.io.pem;
    ssl_certificate_key /etc/ssl/private/bootstrap.pypa.psf.io.pem;

    include fastly_params;

    error_log /var/log/nginx/bootstrap.error.log;
    access_log /var/log/nginx/bootstrap.access.log;

    root /srv/bootstrap/www;

    types {
        text/x-python py;
    }

    autoindex on;
}
