server {
  listen 80;

  server_name buildbot.python.org, buildbot-master.psf.io, buildbot.nyc1.psf.io;

  if ($scheme = "http") {
    return 301 https://$http_host$request_uri;
  }
}

server {
  listen {{ port }} ssl;

  server_name buildbot.python.org, buildbot-master.psf.io, buildbot.nyc1.psf.io;

  ssl_certificate /etc/ssl/private/buildbot-master.psf.io.pem;
  ssl_certificate_key /etc/ssl/private/buildbot-master.psf.io.pem;

  include fastly_params;

  error_log /var/log/nginx/buildbot-master.error.log;
  access_log /var/log/nginx/buildbot-master.access.log main;

  rewrite ^/$ https://www.python.org/dev/buildbot/ redirect;
  rewrite ^/3.7(/?)$ /all/#/grid?branch=3.7 redirect;
  rewrite ^/3.8(/?)$ /all/#/grid?branch=3.8 redirect;
  rewrite ^/3.9(/?)$ /all/#/grid?branch=3.9 redirect;
  rewrite ^/3.10(/?)$ /all/#/grid?branch=3.10 redirect;
  rewrite ^/3.x(/?)$ /all/#/grid?branch=main redirect;
  rewrite ^/3.7.stable(/?)$ /all/#/grid?branch=3.7&tag=stable redirect;
  rewrite ^/3.8.stable(/?)$ /all/#/grid?branch=3.8&tag=stable redirect;
  rewrite ^/3.9.stable(/?)$ /all/#/grid?branch=3.9&tag=stable redirect;
  rewrite ^/3.10.stable(/?)$ /all/#/grid?branch=3.10&tag=stable redirect;
  rewrite ^/3.x.stable(/?)$ /all/#/grid?branch=main&tag=stable redirect;
  rewrite ^/stable(/?)$ /all/#/grid?tag=stable redirect;

  location @backend {
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header Host $http_host;
      proxy_redirect off;
      rewrite /all/(.*) /$1 break;
      proxy_pass http://localhost:9010;
  }

  location / {
      autoindex on;
      root /data/www/buildbot/;
  }

  location /all/ {
      autoindex on;
      root /data/www/buildbot/;
      try_files $uri $uri/ @backend;
  }

  location /all/ws {
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header Host $http_host;
      proxy_redirect off;
      proxy_http_version 1.1;
      proxy_set_header Upgrade $http_upgrade;
      proxy_set_header Connection "Upgrade";
      proxy_pass http://localhost:9010/ws;
  }
}
