# Where we'll write our logs to
LINEHAUL_LOG_FILE=/var/log/linehaul/linehaul.log

# Which port linehaul will listen on.
LINEHAUL_PORT={{ pillar["linehaul"]["port"] }}

# What TLS certificate will linehaul serve on it's port.
LINEHAUL_TLS_CERTIFICATE=/etc/ssl/private/linehaul.psf.io.pem

# What token does linehaul except the syslog messages to be prefixed with.
LINEHAUL_TOKEN={{ pillar["linehaul"]["token"] }}

# What is the name and key of the bigquery service account.
LINEHAUL_ACCOUNT={{ pillar["linehaul"]["account"] }}
LINEHAUL_KEY=/srv/linehaul/etc/bigquery.key

# What two sentry DSNs will linehaul report errors too.
LINEHAUL_SENTRY_DSN={{ pillar["linehaul"]["sentry"] }}
LINEHAUL_SENTRY_UA_DSN={{ pillar["linehaul"]["ua-sentry"] }}

# What BigQuery table will linehaul record downloads in.
BIGQUERY_TABLE={{ pillar["linehaul"]["bigquery_table"] }}
