[Unit]
Description=Linehaul Stats Collection Daemon
After=network.target

[Service]
EnvironmentFile=/srv/linehaul/etc/linehaul.env
ExecStart=/srv/linehaul/env/bin/linehaul server {{ pillar["linehaul"]["bigquery_table"] }}
Restart=on-failure
User=linehaul
Group=linehaul

[Install]
WantedBy=multi-user.target
