[Unit]
Description=Linehaul Stats Collection Daemon
After=network.target

[Service]
ExecStart=/srv/linehaul/env/bin/linehaul \
                                    --port {{ pillar["linehaul"]["port"] }} \
                                    --token {{ pillar["linehaul"]["token"] }} \
                                    --account {{ pillar["linehaul"]["account"] }} \
                                    --key /srv/linehaul/etc/bigquery.key \
                                    --tls-certificate /etc/ssl/private/linehaul.psf.io.pem \
                                    --sentry-dsn {{ pillar["linehaul"]["sentry"] }} \
                                    --sentry-ua-dsn {{ pillar["linehaul"]["ua-sentry"] }} \
                                    {{ pillar["linehaul"]["bigquery_table"] }}
Restart=on-failure
User=linehaul
Group=linehaul

[Install]
WantedBy=multi-user.target
