# Where to write our logs to.
LINEHAUL_LOG_FILE=/var/log/linehaul/linehaul.log

# Which port linehaul will listen on.
LINEHAUL_SERVER_PORT={{ pillar["linehaul"]["port"] }}

# What TLS certificate will linehaul serve on it's port.
LINEHAUL_SERVER_TLS_CERTIFICATE=/etc/ssl/private/linehaul.psf.io.pem

# What token does linehaul except the syslog messages to be prefixed with.
LINEHAUL_SERVER_TOKEN={{ pillar["linehaul"]["token"] }}

# What is the name and key of the bigquery service account.
LINEHAUL_SERVER_CREDENTIALS_FILE=/srv/linehaul/etc/bigquery.json
