[Unit]
Description=bugs.python.org suggestion server

[Service]
User=roundup
WorkingDirectory=/srv/roundup/trackers/cpython/scripts

SyslogIdentifier=bpo-suggest-server

ExecStart=/srv/roundup/env/bin/gunicorn -b unix:///var/run/cpython-extras/suggest.sock -w 4 suggest

[Install]
WantedBy=multi-user.target
