[Unit]
Description=Roundup Server - {{ tracker }}

[Service]
User=roundup
WorkingDirectory=/srv/roundup/trackers/{{ tracker }}
SyslogIdentifier=roundup-server-{{ tracker }}
ExecStart=/srv/roundup/env/bin/gunicorn -b unix:///var/run/roundup/{{ tracker }}.sock wsgi -w {{ workers }} --preload --max-requests 128 --max-requests-jitter 32 --timeout 60 --graceful-timeout 60 --access-logfile - --error-logfile - --statsd-host 127.0.0.1:8125 --statsd-prefix roundup.{{ tracker }}
ExecReload=/bin/kill -HUP $MAINPID
ExecStop = /bin/kill -s TERM $MAINPID
KillMode=mixed
Restart=on-failure
RestartSec=15s

[Install]
WantedBy=multi-user.target
