[Unit]
Description=Rietveld Server

[Service]
User=roundup
WorkingDirectory=/srv/roundup/trackers/cpython

SyslogIdentifier=rietveld-server

ExecStart=/srv/roundup/trackers/cpython/rietveld/env/bin/gunicorn -b unix:///var/run/cpython-extras/rietveld.sock -w4 rietveld.wsgi

[Install]
WantedBy=multi-user.target
