{% set psf_internal = salt["pillar.get"]("psf_internal_network") %}

# PostgreSQL Client Authentication Configuration File
# ===================================================
#

# TYPE  DATABASE        USER            ADDRESS                 METHOD

# Database administrative login by Unix domain socket
local   all             postgres                                peer

# Replication
{% for server, addrs in (salt["mine.get"]("roles:postgresql-replica", "minealiases.psf_internal", expr_form="grain").items())|sort(attribute='0') %}
{% for addr in addrs|sort() %}
hostssl replication     replicator      {{ addr }} 255.255.255.255 cert
{% endfor %}
{% endfor %}

# Monitoring
host    postgres         diamond         127.0.0.1/32           md5

# bugs.python.org
{% for server, addrs in (salt["mine.get"]("roles:tracker", "minealiases.psf_internal", expr_form="grain").items())|sort(attribute='0') %}
{% for addr in addrs|sort() %}
host bugs-python     bugs-python     {{ addr }} 255.255.255.255 md5
{% endfor %}
{% endfor %}


# monitoring.psf.io
{% for server, addrs in (salt["mine.get"]("roles:monitoring", "minealiases.psf_internal", expr_form="grain").items())|sort(attribute='0') %}
{% for addr in addrs|sort() %}
host monitoring     monitoring     {{ addr }} 255.255.255.255 md5
{% endfor %}
{% endfor %}
