{% set postgresql = salt["pillar.get"]("postgresql") %}
{% set psf_internal = salt["pillar.get"]("psf_internal_network") %}
{% set pypi_internal = salt["pillar.get"]("pypi_internal_network") %}


{#
#------------------------------------------------------------------------------
# pgtune
#
# These are taken from pgtune (https://github.com/gregs1104/pgtune and
# https://github.com/le0pard/pgtune) assuming the "web" database type.
#------------------------------------------------------------------------------
#}

{% set shared_buffers = ((grains.mem_total|int) / 4)|round|int %}
{% set effective_cache_size = (((grains.mem_total|int) * 3) / 4)|round|int %}
{% set work_mem = (((grains.mem_total|int) - shared_buffers) / (postgresql.max_connections * 3))|round|int %}
{% set maintenance_work_mem = ((grains.mem_total|int) / 16)|round|int %}

{# Cap maintenance RAM at 2GB on servers with lots of memory #}
{% if maintenance_work_mem > 2048 %}
  {% set maintenance_work_mem = 2048 %}
{% endif %}

{% set checkpoint_flush_after = '256kB' %}
{% set checkpoint_completion_target = 0.5 %}

{% set default_statistics_target = 100 %}

#------------------------------------------------------------------------------
# FILE LOCATIONS
#------------------------------------------------------------------------------

# The default values of these variables are driven from the -D command-line
# option or PGDATA environment variable, represented here as ConfigDir.

data_directory    = '{{ postgresql.data_dir }}'
hba_file          = '{{ postgresql.hba_file }}'
ident_file        = '{{ postgresql.ident_file }}'
external_pid_file = '{{ postgresql.pid_file }}'


#------------------------------------------------------------------------------
# CONNECTIONS AND AUTHENTICATION
#------------------------------------------------------------------------------

# - Connection Settings -

listen_addresses = 'localhost,{{ salt["network.ip_addrs"](cidr=psf_internal)[0] }}'
port = {{ postgresql.port }}
max_connections = {{ postgresql.max_connections }}
unix_socket_directories = '/var/run/postgresql'

# - Security and Authentication -

ssl           = true
ssl_ca_file   = '/etc/ssl/certs/PSF_CA.pem'
ssl_cert_file = '/etc/ssl/private/postgresql.psf.io.pem'
ssl_key_file  = '/etc/ssl/private/postgresql.psf.io.pem'


#------------------------------------------------------------------------------
# RESOURCE USAGE (except WAL)
#------------------------------------------------------------------------------

# - Memory -

shared_buffers = {{ shared_buffers }}MB
work_mem = {{ work_mem  }}MB
maintenance_work_mem = {{ maintenance_work_mem }}MB


#------------------------------------------------------------------------------
# WRITE AHEAD LOG
#------------------------------------------------------------------------------

# - Settings -

wal_level = hot_standby
synchronous_commit = local

# - Checkpoints -

checkpoint_flush_after = {{ checkpoint_flush_after }}
checkpoint_completion_target = {{ checkpoint_completion_target }}


#------------------------------------------------------------------------------
# REPLICATION
#------------------------------------------------------------------------------

# - Sending Server(s) -

max_replication_slots = {{ postgresql.replicas * 2 }}
max_wal_senders = {{ (postgresql.replicas * 1.5)|round(method="ceil")|int }}
wal_keep_segments = 32

# - Master Server -

# These settings are ignored on a standby server.

synchronous_standby_names = '*'

# - Standby Servers -

# These settings are ignored on a master server.

hot_standby = on


#------------------------------------------------------------------------------
# QUERY TUNING
#------------------------------------------------------------------------------

# - Planner Cost Constants -

effective_cache_size = {{ effective_cache_size }}MB

# - Other Planner Options -

default_statistics_target = {{ default_statistics_target }}


#------------------------------------------------------------------------------
# ERROR REPORTING AND LOGGING
#------------------------------------------------------------------------------

# - What to Log -

log_line_prefix = '%t '
log_timezone = 'UTC'


#------------------------------------------------------------------------------
# CLIENT CONNECTION DEFAULTS
#------------------------------------------------------------------------------

# - Locale and Formatting -

datestyle = 'iso, mdy'
timezone = 'UTC'

lc_messages = 'en_US.UTF-8'
lc_monetary = 'en_US.UTF-8'
lc_numeric = 'en_US.UTF-8'
lc_time = 'en_US.UTF-8'

default_text_search_config = 'pg_catalog.english'


#------------------------------------------------------------------------------
# CONFIG FILE INCLUDES
#------------------------------------------------------------------------------

# These options allow settings to be loaded from files other than the
# default postgresql.conf.

include_dir = 'conf.d'
