{% set postgresql = salt["pillar.get"]("postgresql") %}
{% set psf_internal = salt["pillar.get"]("psf_internal_network") %}

pid = /var/run/stunnel/postgresql.pid

[postgres]
client = no
accept = {{ postgresql.port }}
connect = {{ salt["network.ip_addrs"](cidr=psf_internal)[0] }}:{{ postgresql.port - 1 }}
transparent = source
protocol = pgsql
cert = /etc/ssl/private/postgresql.psf.io.pem
key = /etc/ssl/private/postgresql.psf.io.pem
ciphers = {{ pillar["tls"]["ciphers"].get("postgresql", pillar["tls"]["ciphers"]["default"]) }}
sslVersion = TLSv1.2
