{% from "consul/jinja.sls" import simple_service %}

from .base import *

DEBUG = TEMPLATE_DEBUG = False

{% call(addr, port) simple_service("primary.postgresql") %}
DATABASES = {
    "default": {
        "ENGINE": "django.db.backends.postgresql_psycopg2",
        "HOST": "postgresql.psf.io",
        "PORT": "{{ port }}",
        "NAME": "pydotorg-{{ type }}",
        "USER": "pydotorg-{{ type }}",
        "PASSWORD": "{{ pillar["postgresql-users"]["pydotorg-" + type] }}",
        "OPTIONS": {
            "hostaddr": "{{ addr }}",
            "sslmode": "verify-full",
            "sslrootcert": "/etc/ssl/certs/PSF_CA.pem",
        },
    }
}
{% endcall %}

{% call(addr, port) simple_service("elasticsearch") %}
HAYSTACK_CONNECTIONS = {
    'default': {
        'ENGINE': 'haystack.backends.elasticsearch_backend.ElasticsearchSearchEngine',
        'URL': 'http://{{ addr }}:{{ port }}/',
        'INDEX_NAME': 'haystack-{{ type }}',
    },
}
{% endcall %}

SECRET_KEY = '{{ secret_key }}'

ALLOWED_HOSTS = ["www.python.org", "staging.python.org"]

{% set mail = pillar["pydotorg_mail"] %}
EMAIL_HOST = "{{ mail["host"] }}"
EMAIL_HOST_USER = "{{ mail["user"] }}"
EMAIL_HOST_PASSWORD = "{{ mail["password"] }}"
EMAIL_PORT = {{ mail["port"] }}
EMAIL_USE_TLS = {{ mail["tls"] }}
DEFAULT_FROM_EMAIL = "noreply@python.org"

# Ubuntu uses a non-standard name for the yuicompressor binary :(
PIPELINE_YUI_BINARY = 'yui-compressor'

MEDIA_ROOT = '/srv/pydotorg/media'

PEP_REPO_PATH = '/srv/pydotorg/peps'

{% if type == "staging" %}

CSRF_COOKIE_DOMAIN = 'staging.python.org'
SESSION_COOKIE_DOMAIN = 'staging.python.org'

{% else %}

SECURE_PROXY_SSL_HEADER = ('HTTP_FASTLY_SSL', '1')
SESSION_COOKIE_SECURE = True
CSRF_COOKIE_SECURE = True

{% endif %}

LOGGING['handlers']['log_file'] = {
    'level': 'ERROR',
    'class': 'logging.handlers.WatchedFileHandler',
    'filename': '/var/log/pydotorg/pydotorg.error',
}
LOGGING['loggers']['django.request']['handlers'].append('log_file')
