description "pydotorg uwsgi application server"
start on runlevel [2345]
stop on runlevel [06]

console log
setuid pydotorg
setgid pydotorg

expect daemon
exec /srv/pydotorg/env/bin/uwsgi /srv/pydotorg/pydotorg-uwsgi.ini --die-on-term
