upstream pydotorg {
  server unix:///srv/pydotorg/uwsgi.sock;
}

server {
  listen 9000 ssl;
  server_name www.python.org staging.python.org;

  ssl_certificate /etc/ssl/private/pydotorg.psf.io.pem;
  ssl_certificate_key /etc/ssl/private/pydotorg.psf.io.pem;

  error_log /var/log/nginx/pydotorg.error.log;
  access_log /var/log/nginx/pydotorg.access.log;

  # Legacy redirects & Rewrites from dinsdale apache
  location ~ ^/~(barry|bwarsaw)$ {
    return 301 http://barry.warsaw.us/;
  }

  location ~ ^/~(.*)$ {
    resolver 8.8.8.8;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_pass http://legacy.python.org/~$1;
  }

  location /consortium {
    return 301 http://www.python.org/psf;
  }

  location /topics/xml {
    return 301 http://pyxml.sourceforge.net/topics;
  }

  location /topics/web {
    return 301 https://wiki.python.org/moin/WebProgramming;
  }

  location /topics/database {
    return 301 https://wiki.python.org/moin/DatabaseProgramming;
  }

  location /doc/topics/database {
    return 301 https://wiki.python.org/moin/DatabaseProgramming;
  }

  location /audio {
    return 301 https://wiki.python.org/moin/Audio;
  }

  location /contact.html {
    return 301 https://www.python.org/community;
  }

  location /community/psf {
    return 301 https://www.python.org/psf;
  }

  location /doc/Summary {
    return 301 http://legacy.python.org/doc/intros/summary;
  }

  location /doc/NonEnglish.html {
    return 301 https://wiki.python.org/moin/Languages;
  }

  location /doc/nonenglish/ {
    return 301 https://wiki.python.org/moin/Languages;
  }

  location /doc/Intros.html {
    return 301 https://www.python.org/about/gettingstarted/;
  }

  location /doc/faq/installed/ {
    return 301 https://docs.python.org/faq/installed;
  }

  location /doc/faq/gui/ {
    return 301 https://docs.python.org/faq/gui;
  }

  location /doc/faq/windows/ {
    return 301 https://docs.python.org/faq/windows;
  }

  location /doc/faq/extending/ {
    return 301 https://docs.python.org/faq/extending;
  }

  location /doc/faq/library/ {
    return 301 https://docs.python.org/faq/library;
  }

  location /doc/faq/design/ {
    return 301 http://docs.python.org/faq/design;
  }

  location /doc/faq/programming/ {
    return 301 https://docs.python.org/faq/programming;
  }

  location /doc/faq/general/ {
    return 301 https://docs.python.org/faq/general;
  }

  location /dev/lists.html {
    return 301 https://www.python.org/community/lists;
  }

  location /dev/doc/devel {
    return 301 https://docs.python.org/dev;
  }

  location /security {
    return 301 https://www.python.org/news/security;
  }

  location /sigs {
    return 301 https://www.python.org/community/sigs;
  }

  location /Jobs.html {
    return 301 https://www.python.org/community/jobs/;
  }

  location /jobs/ {
    return 301 https://www.python.org/community/jobs/;
  }

  location /Help.html {
    return 301 https://www.python.org/about/help;
  }

  location /help {
    return 301 https://www.python.org/about/help;
  }

  location /News.html {
    return 301 https://www.python.org/news;
  }

  location /2.2.3/descrintro.html {
    return 301 https://www.python.org/download/releases/2.2.3/descrintro/;
  }

  location /download/download_linux.html {
    return 301 https://www.python.org/download/linux;
  }

  location /download/download_mac.html {
    return 301 https://www.python.org/download/mac;
  }

  location /download/download_os2.html {
    return 301 https://www.python.org/download/other;
  }

  location /download/download_other.html {
    return 301 https://www.python.org/download/other;
  }

  location /download/download_source.html {
    return 301 https://www.python.org/download/source;
  }

  location /download/download_win31.html {
    return 301 https://www.python.org/download/windows;
  }

  location /download/download_windows.html {
    return 301 https://www.python.org/download/windows;
  }

  location /windows/ {
    return 301 https://www.python.org/download/windows/;
  }

  location /Mirrors.html {
    return 301 https://www.python.org/mirrors/;
  }

  location /Mirrors {
    return 301 https://www.python.org/mirrors/;
  }

  location /cgi-bin/moinmoin {
    return 301 https://wiki.python.org/moin;
  }

  location /doc/howto/ {
    return 301 https://docs.python.org/dev/howto/index.html;
  }

  location /doc/Comparisons.html {
    return 301 https://wiki.python.org/moin/LanguageComparisons;
  }

  location /hosting {
    return 301 https://wiki.python.org/moin/PythonHosting;
  }

  location /python.rdf {
    return 301 http://legacy.python.org/channews.rdf;
  }

  location /mailman-bugs/ {
    return 301 http://sourceforge.net/bugs/?group_id=103;
  }

  location /mailman-bugs.private/ {
    return 301 http://sourceforge.net/bugs/?group_id=103;
  }

  location /python-bugs/ {
    return 301 http://bugs.python.org/;
  }

  location /python-bugs.private/ {
    return 301 http://bugs.python.org/;
  }

  location /mailman-bugs {
    return 301 http://sourceforge.net/bugs/?group_id=103;
  }

  location /mailman-bugs.private {
    return 301 http://sourceforge.net/bugs/?group_id=103;
  }

  location /python-bugs {
    return 301 http://bugs.python.org/;
  }

  location /python-bugs.private {
    return 301 http://bugs.python.org/;
  }

  location /jpython {
    return 301 http://www.jython.org/;
  }

  location ~ ^/mailman/(.*)$ {
    return 301 https://mail.python.org/mailman/$1;
  }

  location ~ ^/pipermail/(.*)$ {
    return 301 https://mail.python.org/pipermail/$1;
  }

  location ~ ^/pypi(.*)$ {
    return 301 https://pypi.python.org/pypi$1?$args;
  }

  location = /peps/pep-0263.html {
    return 302 https://www.python.org/dev/peps/pep-0263/;
  }

  location /peps/ {
    return 302 https://www.python.org/dev/peps/;
  }

  location ~ ^/sf(.*)$ {
    if ($is_args != "") {
        return 302 http://legacy.python.org/sf?$args;
    }
    return 302 http://legacy.python.org/sf$1;
  }

  location /m/ {
    alias /srv/pydotorg/media/;
  }

  location /static/ {
    alias /srv/pydotorg/pythondotorg/static-root/;
  }

  location /images/ {
    alias /srv/pydotorg/pythondotorg/static-root/images/;
  }

  location / {
    gzip  off;
    uwsgi_pass pydotorg;
    include uwsgi_params;
  }
}
