{% set internal = salt["pillar.get"]("psf_internal_network") %}

{
    "acl_datacenter": "{{ pillar.consul.acl.dc }}",
    "acl_default_policy": "{{ pillar.consul.acl.default }}",
    "acl_down_policy": "{{ pillar.consul.acl.down }}",
    "acl_ttl": "{{ pillar.consul.acl.ttl }}",
    "bind_addr": "{{ salt["network.ip_addrs"](cidr=internal)[0] }}",
    "ca_file": "/etc/ssl/certs/PSF_CA.pem",
    "datacenter": "{{ pillar.dc }}",
    "disable_remote_exec": true,
    "enable_syslog": true,
    "server_name": "consul.psf.io",
    "verify_incoming": false,
    "verify_outgoing": true
}
