{% set internal = salt["pillar.get"]("psf_internal_network") %}

{
    "bind_addr": "{{ salt["ip_picker.ip_addrs"](cidr=internal)[0] }}",
    "datacenter": "{{ grains.dc }}",
    "disable_remote_exec": true,
    "ca_file": "/etc/consul/ca.pem",
    "cert_file": "/etc/consul/cert.pem",
    "enable_syslog": true,
    "key_file": "/etc/consul/cert.pem",
    "verify_incoming": true,
    "verify_outgoing": true
}
