{% set internal = salt["pillar.get"]("psf_internal_network") %}

{
    "bind_addr": "{{ salt["ip_picker.ip_addrs"](cidr=internal)[0] }}",
    "datacenter": "rax-iad",
    "disable_remote_exec": true,
    "enable_syslog": true
}
