{
    "retry_join": [
        {% for server in pillar["consul"]["bootstrap"][pillar["dc"]] -%}
        {%- set sloop = loop -%}
        {% for address in salt["mine.get"](server, "psf_internal").values()|sort() -%}
        "{{ address }}"{% if not sloop.last %},{% endif %}
        {% endfor -%}
        {% endfor %}
    ]
}
