{% for site, info in salt["pillar.get"]("planet", {}).get("sites").items() %}

server {
    listen 9000 ssl;
    server_name {{ info["domain"] }};
    error_log /var/log/nginx/{{ site }}.error.log;
    access_log /var/log/nginx/{{ site }}.access.log;
    ssl_certificate /etc/ssl/private/planet.psf.io.pem;
    ssl_certificate_key /etc/ssl/private/planet.psf.io.pem;

    root {{ info["output"] }};
}

{% for domain in info.get("subject_alternative_names", []) %}
server {
    server_name {{ domain }};
    error_log /var/log/nginx/redir-{{ domain }}.error.log;
    access_log /var/log/nginx/redir-{{ domain }}.error.log;

    return 302 $scheme://{{ site }}$request_uri;
}
{% endfor %}

{% endfor %}
