cd /srv/planet/
git pull
{% for site, site_config in salt["pillar.get"]("planet", {}).get("sites").items() %}
docker run --pull=always --rm \
  -v {{ site_config["cache"] }}:/srv/cache/ \
  -v {{ site_config["output"] }}:/srv/planetpython.org/ \
  -v /srv/planet/config/{{ site_config["config"] }}:/planet/config/config.ini \
  {{ site_config["image"] }} \
  python /planet/code/planet.py /planet/config/config.ini
{% endfor %}
