cd /srv/planet/
git pull
{% for site in salt["pillar.get"]("planet_sites").values() %}
/Library/Frameworks/Python.framework/Versions/2.7/bin/python2.7 /srv/planet/code/planet.py /srv/planet/config/{{ site["config"] }}
{% endfor %}
