server {
    listen 80;
    server_name www.pythontest.net pythontest.net;
    root /srv/python-testdata/www/;

    location = /redir/ {
        return 302 $scheme://$host/elsewhere/;
    }

    location = /redir/with_frag/ {
        return 302 $scheme://$host/elsewhere/#frag;
    }

    location /unicode/ {
        gzip            on;
        gzip_min_length 1000;
        gzip_types      text/plain application/xml;
    }
}

server {
    listen 443 ssl;
    server_name self-signed.pythontest.net;
    root /srv/python-testdata/www/;

    ssl_certificate /srv/python-testdata/tls/self-signed-cert.pem;
    ssl_certificate_key /srv/python-testdata/tls/self-signed-key.pem;
}
