server {
    listen 443 ssl;
    server_name self-signed.pythontest.net;

    ssl_certificate /srv/python-testdata/tls/self-signed-cert.pem;
    ssl_certificate_key /srv/python-testdata/tls/self-signed-key.pem;
}
