CONFIG = {
    "mode": "wsgi",
    "user": "moin",
    "group": "moin",
    "args": [
        "--bind", "unix:/var/run/gunicorn/moin.sock",
        "--workers", "{{ (grains.num_cpus * 2) + 1 }}",
        "--pythonpath", "/usr/share/moin/server/",
        "--preload",
        "moin_wsgi",
    ],
}
