[Unit]
Requires=docker.service
After=docker.service

[Service]
Environment=SUPERVISED=true
ExecStart=/opt/discourse/launcher start data
ExecStop=/opt/discourse/launcher stop data
Restart=always

[Install]
WantedBy=multi-user.target
