[Unit]
Requires=discourse-data.service redis-server.service
After=discourse-data.service redis-server.service

[Service]
Environment=SUPERVISED=true
ExecStart=/opt/discourse/launcher start web
ExecStop=/opt/discourse/launcher stop web
Restart=always

[Install]
WantedBy=multi-user.target
