name: Lint

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  salt-lint:
    name: Salt Lint
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
    - name: Checkout repository
      uses: actions/checkout@v6

    - name: Setup Python
      uses: actions/setup-python@v6
      with:
        python-version: "3.10"

    - name: Install tox and any other packages
      run: pip install tox

    - name: Run Linter
      run: tox -e lint
